<%- include('partials/header'); -%>

<h1 style="padding-top: 10%; text-align: center;">Uh oh... no records found</h1>
<p style="padding-top: 3%;text-align: center;">Please try another search</p>

<%- include('partials/footer'); -%>